# Task 1 :- Connection

In [1]:
import mysql.connector as connector

In [2]:
# Establish the connection
connection = connector.connect(
    host='localhost',
    user='root',
    passwd='aNIKEt@45',
    database='LittleLemonDB',  
    use_pure=True
)

# Print the connection object to verify the connection
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x10a09f620>

In [4]:
cursor = connection.cursor()

In [3]:
cursor.execute("Use LittleLemonDB")

## Task 2: Table Printing

In [7]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
for results in cursor:
    print(results)

('Booking',)
('CustomerDetails',)
('Menu',)
('MenuItems',)
('OrderDeliveryStatus',)
('Orders',)
('ordersview',)
('Staff',)

## Task 3 : Join

In [10]:
# Define the query
query = """SELECT a.CustomerName, a.ContactNumber, b.TotalCost
            FROM CustomerDetails as a
            JOIN Orders as b ON a.CustomerID = b.CustomerID
            WHERE b.TotalCost > 60;"""

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the results
for row in results:
    print(f"Full Name: {row[0]}, Contact: {row[1]}, Total Cost: {row[2]}")